<ion-header>

</ion-header>

<ion-content class="ion-padding" color="">
  <div class="title">
    <h3>Fazer Login</h3>
    <p>acessar sua conta.</p>
  </div>

  <ion-input placeholder="Email" class="primary-input" [(ngModel)]="userLogin.email"></ion-input>
  <ion-input placeholder="Senha" class="primary-input" type="password" [(ngModel)]="userLogin.password"></ion-input>

  <div class="ion-margin-top ion-text-right forget">
    <a> Esqueceu sua senha?</a>
  </div> 

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="login()">Fazer Login</ion-button>
  </div>

  <div class="ion-margin-top ion-text-right">
    <a (click)="dismiss()">Fechar</a>
  </div>
</ion-content>
